* {
  box-sizing: border-box;
}

html {
  background-color: var(--color-bg-neutral);
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--spacing-6);
}


p,
a {
  margin: 0;
  padding: 0;
}
