.footer {
  display: flex;
  flex-direction: row;
  font-family: var(--font-family-mono);
  color: var(--color-text-neutral-subtle);
  gap: var(--spacing-4);
}

.footer p {
  font-size: var(--font-size-sm);
}

.footer__slide-count {
  margin-right: auto;
}
